* {
  font-family: 'Noto Sans TC', sans-serif; }

#Container {
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  display: grid;
  grid-template-rows: 7vh 1fr 20px;
  background-color: rgba(0, 0, 0, 0.5); }
  #Container #Header {
    background-color: red;
    padding: 10px;
    grid-row: 1;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-column-gap: 20px;
    z-index: 999; }
    #Container #Header #logo {
      grid-column: 2;
      max-width: 100%;
      background-image: url(/Image/logo.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
    #Container #Header input {
      position: fixed;
      top: 20px;
      width: 100%;
      display: none; }
    #Container #Header #search {
      grid-column: 3;
      background-image: url(/Image/search.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
    #Container #Header #menu {
      grid-column: 1;
      background-image: url(/Image/menu.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }

#back_btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  height: 5vh;
  background-image: url(/Image/back-button.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#menu_page {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-rows: repeat(13) 1fr;
  grid-row-gap: 10px;
  padding: 70px 100px; }
  #menu_page a {
    text-decoration: none;
    color: #000000; }

body {
  margin: 0px; }
  body Video {
    position: fixed;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; }

#Main {
  background-color: green;
  display: grid;
  grid-template-rows: 60% 40%; }
  #Main #banner {
    position: relative;
    grid-row: 1;
    width: 100%; }
    #Main #banner #title {
      position: absolute;
      bottom: 30px;
      color: #FFF;
      width: 100%; }
  #Main #info {
    width: 100%;
    white-space: nowrap;
    display: inline;
    overflow-x: scroll; }
    #Main #info .info {
      overflow-x: scroll;
      white-space: nowrap;
      display: inline-block;
      width: 90%;
      background-color: #FFF;
      padding: 20px 10px;
      margin: 5% 5%;
      border-radius: 10px; }

#Footer {
  background-color: blue;
  color: #FFF; }
  #Footer > div:nth-child(1) {
    font-size: 10px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center; }
    #Footer > div:nth-child(1) span {
      flex-grow: 1; }
